# App
PORT=3000
NODE_ENV=development

# Kafka
SERVICE_NAME=api-gateway
BROKER1=<your-kafka-broker-1>
BROKER2=<your-kafka-broker-2>

# Redis
REDIS_HOST=<redis-host>
REDIS_PORT=<redir-port>

# JWT Secrets
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>

# Session and CORS
CLIENT_URL=http://localhost:<your-client-port>
SESSION_SECRET_KEY=<your_session_secret>

# <=================== TCP ===================>
# Auth Service
AUTH_SERVICE_HOST=<auth-service-host>
AUTH_SERVICE_PORT=<auth-service-port>

# Account Service
ACCOUNT_SERVICE_HOST=<account-service-host>
ACCOUNT_SERVICE_PORT=<account-service-port>

# Messenger Service
MESSENGER_SERVICE_HOST=<messenger-service-host>
MESSENGER_SERVICE_PORT=<messenger-service-port>

# Relationship Service
RELATIONSHIP_SERVICE_HOST=<relationship-service-host>
RELATIONSHIP_SERVICE_PORT=<relationship-service-port>

# Notification Action History Service
NOTIFICATION_ACTION_HISTORY_SERVICE_HOST=<notification-action-history-service-host>
NOTIFICATION_ACTION_HISTORY_SERVICE_PORT=<notification-action-history-service-port>